/* Makequiz.css */

/* Media queries */
@media only screen and (max-width: 768px) {
    .leftside {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
    }
  
    .leftside input[type="text"] {
      width: calc(100% - 40px); /* Adjusted width to accommodate padding and margins */
    }
  
    .leftside button {
      margin-right: 10px;
    }
  
    .rightside {
      width: 100%;
      margin: 20px 0;
      padding: 20px;
      margin-top: 20px;
      height: auto; /* Removed fixed height */
    }
  }
  