.header ul {
    align-items: center;
    justify-content: space-between;
    background: rgb(196, 51, 51);
    padding: 1 rem 5rem;
    height: 80px;
    width: 100%;
}


.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url(./Welcome/IMG/homebg.jpg); */
    background-size: cover;
    background-position: center;
}

.home .content {
    text-align: center;
    padding: 1rem;
}

.home .content h5 {
    font-size: 5rem;
    color: var(--blue);
    font-family: 'Dancing Script', cursive;
    text-align: left;
}

.home .content h1 {
    font-size: 10rem;
    color: var(--white);
}

.home .content p {
    text-align: center;
    font-size: 9 rem;
    font-family: 'Dancing Script', cursive;
    color: blueviolet;
}
.btn{
    float:left;
    border: 2px solid black;
}

.about{
    background-color: #bbbbbb;
}

/* /About Us/ */
 .about .heading {
    color: rgb(83, 188, 83);
    text-align: left;
    
}


.about .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about .row .content {
    flex: 1 1 40rem;
    padding: 2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.about .row .content h3 {
    font-size: 3rem;
    color: grey;
    text-align: center;
}

.about .row .content p {
    font-size: 1.5rem;
    text-align: left;
    justify-content: space-evenly;
}



.about .row .content a {
    text-align: center;
    align-items: center;
}


/* /Footer/  */
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--green3);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}
