/* Welcome.css */



.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome {
    display: grid;
    grid-template-columns: 50% 50%;
}



/* Your existing button styles can be applied here */

/* Welcome.css */

.proimg {
    display: flex;
    align-items: center;
}

.this {
    display: flex;
    flex-direction: column;
    /* To stack the text content vertically */
}

/* Welcome.css */

.btn-light:hover {
    background-color: red;
    /* Orange color */
    color: white;
    /* Text color on hover */
}


/* ... (existing styles) */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    background-color: skyblue;
    /* Set your desired background color */
    padding: 15px;
    /* Add padding as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow effect */
    z-index: 1000;
    /* Ensure the sidebar is above other elements */
}