/* .container {
  display: flex;
} */

.rectangle-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
}

.rectangle-box.horizontal {
  flex: 1;
}

.image-container {
  margin-right: 10px;
}

.round-image {
  border-radius: 50%;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
}

.info-container {
  line-height: 1.5;
}

/* Add additional styles as needed */
